<section 
  id="artist-screensaver" 
  class="fixed top-0 left-0 w-full h-full"
  aria-hidden
>
  {% if options.artist_intervention.screensaver.png_stamps %}
    <div id="png-stamp"></div>
  {% elseif options.artist_intervention.screensaver.video %}
    <video 
      data-vid-src="{{ options.artist_intervention.screensaver.video.url }}"
      class="lazy-load object-center w-full h-full {{ options.artist_intervention.screensaver.position }}"
      muted
      autoplay
      loop
      playsinline
      preload
      poster="{{ Image(options.artist_intervention.screensaver.image).src }}"
    ></video>
  {% elseif options.artist_intervention.screensaver.image %}
    <img 
      data-img="{{ Image(options.artist_intervention.screensaver.image).src }}" 
      alt="{{ Image(options.artist_intervention.screensaver.image).alt }}"
      class="lazy-load object-center w-full h-full {{ options.artist_intervention.screensaver.position }}"
    >
  {% endif %}

  {% if options.artist_intervention.screensaver.exhibition_link.url and options.artist_intervention.screensaver.title and options.artist_intervention.screensaver.year %}
    <a 
      href="{{ options.artist_intervention.screensaver.exhibition_link.url }}" 
      class="artist-info absolute bottom-def left-0 w-11/12 lg:w-1/3 bg-{{ bg }} rounded-2xl py-4 lg:py-6 left-1/2 transform -translate-x-1/2 z-10 text-center lg:hover:bg-black lg:hover:text-{{ bg }}"
      tabindex="-1"
    >
      {% if options.artist_intervention.screensaver.artist_name %}
        <p class="forma-body">{{ options.artist_intervention.screensaver.artist_name }}</p>
      {% endif %}

      {% if options.artist_intervention.screensaver.title and options.artist_intervention.screensaver.year %}
        <p class="forma-body italic">{{ options.artist_intervention.screensaver.title }}, {{ options.artist_intervention.screensaver.year }}</p>
      {% endif %}
    </a>
  {% endif %}
</section>