<!-- 
Exhibition Tags
Exhibition, Current (for all current and ongoing exhibitions)
Exhibition, Start Year (for all past exhibitions)
Collection (for all collections) 
-->
<div class="tags-inner">
  {% if item.post_type == 'exhibition' %}
    <a 
      href="/exhibition" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6" 
      aria-label="{% if item.get_field('exhibition_type') == 'On Long Term View' %}View all collections.{% else %}View all exhibitions.{% endif %}"
    >
      {% if item.get_field('is_project') %}
        Project
      {% elseif item.get_field('exhibition_type') == 'On Long Term View' %}
        Collection
      {% else %}
        Exhibition
      {% endif %}
    </a>
  {% elseif item.post_type == 'event' %}
    <a 
      href="/event" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6" 
      aria-label="View all events."
    >Event</a>
  {% elseif item.post_type == 'program' %}
    <a 
      href="/programs/archive" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6"
      aria-label="View all programs."
    >Program</a>
  {% elseif item.post_type == 'staff-member' %}
    <a 
      href="/board-staff" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6"
      aria-label="View all staff members."
    >Staff Member</a>
  {% elseif item.post_type == 'video' %}
    <a 
      href="/video-series" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6"
      aria-label="View all videos."
    >Video</a>
  {% elseif item.post_type == 'post' %}
    <a 
      href="/news/archive" 
      class="def-button-sm inline-block {{ color }} mr-4 mb-3 lg:mb-6"
      aria-label="View news."
    >News</a>
  {% endif %}

  {% if item.post_type == 'exhibition' and item.get_field('exhibition_type') != 'On Long Term View' and item.get_field('is_project') != 1 %}
    {% set today = 'now'|date("U") %}
    {% set startDate = item.get_field('starting_date_new')|date("U") %}
    {% set endDate = item.get_field('ending_date_new')|date("U") %}

    {% if endDate >= today and startDate <= today %}
      <a 
        href="/exhibitions/current" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View all current exhibitions."
      >Current</a>
    {% elseif startDate > today %}
      <a 
        href="/exhibitions/upcoming" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View all upcoming exhibitions."
      >Upcoming</a>
    {% else %}
      <a 
        href="/exhibitions/year/{{ item.get_field('starting_date_new')|date('Y') }}" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View all exhibitions from {{ item.get_field('starting_date_new')|date('Y') }}."
      >{{ item.get_field('starting_date_new')|date('Y') }}</a>
    {% endif %}
  {% elseif item.post_type == 'event' %}
    {% if item.terms %}
      {% if showAll %}
        {% for term in item.terms %}
          <a 
            href="/events/{{ term.slug }}" 
            class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6 mr-4"
            aria-label="View all events in the category of {{ term }}."
          >{{ term }}</a>
        {% endfor %}
      {% else %}
        <a 
          href="/events/{{ item.terms[0].slug }}" 
          class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
          aria-label="View all events in the category of {{ item.terms[0] }}."
        >{{ item.terms[0] }}</a>
      {% endif %}
    {% endif %}
  {% elseif item.post_type == 'program' %}
    {% if item.terms %}
      <a 
        href="/programs/category/{{ item.terms[0].slug }}" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View all programs in the category of {{ item.terms[0] }}."
      >{{ item.terms[0] }}</a>
    {% endif %}
  {% elseif item.post_type == 'staff-member' %}
    {% if item.terms %}
      <a 
        href="/board-staff/{{ item.terms[0].slug }}" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View staff members in {{ item.terms[0] }} category."
      >{{ item.terms[0] }}</a>
    {% endif %}
  {% elseif item.post_type == 'post' %}
    {% if item.terms %}
      <a 
        href="/news/category/{{ item.terms[0].slug }}" 
        class="def-button-sm inline-block {{ color }} mb-3 lg:mb-6"
        aria-label="View all news posts in the category of {{ item.terms[0] }}."
      >{{ item.terms[0] }}</a>
    {% endif %}
  {% endif %}
</div>